In [1]:
import os
import sys

# 添加 AlignCell 到 sys.path，允许 Python 从该路径加载模块
sys.path.append('/Gao2/dzh/trace_embryo/new/new/AlignCell')

from data_processing.data_loader import DataLoader
from data_processing.split_cell import split_cell
from data_processing.preprocess import Preprocess_gene
from data_processing.data import TwitterDataset

%config InlineBackend.figure_format = 'svg'

In [2]:
#输出基因表达矩阵，要求行名为基因名称，列名为细胞名称
import pandas as pd
import numpy as np

new_expression = pd.read_csv('./example/heart_count_dat.txt',sep="\t",index_col=0)
new_expression

,HE5W_1_LA.1,HE5W_1_LA.2,HE5W_1_LA.3,HE5W_1_LA.4,HE5W_1_LA.5,HE5W_1_LA.6,HE5W_1_LA.7,HE5W_1_LA.8,HE5W_1_LA.9,HE5W_1_LA.10,...,HE23W_2_RV.15,HE23W_2_RV.16,HE23W_2_RV.17,HE23W_2_RV.18,HE23W_2_RV.19,HE23W_2_RV.20,HE23W_2_RV.21,HE23W_2_RV.22,HE23W_2_RV.23,HE23W_2_RV.24
Gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A1BG-AS1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A1CF,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15
A2M,0,0,0,0,0,1,1,0,0,0,...,2,3,0,60,0,0,0,50,0,0
A2M-AS1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ZYG11B,0,0,0,0,0,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24
ZYX,0,0,0,20,2,16,0,12,0,0,...,50,2,0,1,3,0,0,34,0,78
ZZEF1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,2,1,0,2,0,0
ZZZ3,0,0,4,0,0,6,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [3]:
#添加样品信息表，要求至少含有cell以及cell_type两列的data.frame
fil_type=pd.read_csv('./example/heart_type.txt',sep="\t")
fil_type

               cell  time cell.1        type
0       HE5W_1_LA.1   5.0   HE5W         CMs
1       HE5W_1_LA.3   5.0   HE5W         CMs
2       HE5W_1_LA.4   5.0   HE5W         CMs
3       HE5W_1_LA.7   5.0   HE5W         CMs
4       HE5W_1_LA.9   5.0   HE5W         CMs
...             ...   ...    ...         ...
3449   HE23W_2_RV.4  23.0  HE23W  Macrophage
3450   HE23W_2_RV.7  23.0  HE23W  Macrophage
3451   HE23W_2_RV.9  23.0  HE23W  Macrophage
3452  HE23W_2_RV.10  23.0  HE23W  Macrophage
3453  HE23W_2_RV.22  23.0  HE23W  Macrophage

[3454 rows x 4 columns]

In [4]:
#按照type的8：2比例划分query和target，除训练模型外，实际应用过程中可以不需要此步骤
train_data, test_data, train_expression_matrix, test_expression_matrix = split_cell(fil_type, new_expression, 
                                                                                    group_column='type', cell_name_column='cell',
                                                                                    random_state=9)

In [5]:
#将target数据信息，给target添加唯一标签
loader1 = DataLoader(expression_matrix_1=train_expression_matrix, cell_labels_1=train_data, top_genes=1000, mode="target",cell_name_column='cell')

# 处理数据
ref_dat, ref_label, ref_cell_labels = loader1.process_data()

print("更新后的 ref_cell_labels:")
print(ref_cell_labels)

更新后的 ref_cell_labels:
               cell  time cell.1         type cell_id    mode
0      HE7W_2_LV.45   7.0   HE7W          CMs     1_1  target
1     HE23W_2_LA.12  23.0  HE23W          CMs     1_2  target
2      HE7W_2_RA.35   7.0   HE7W          CMs     1_3  target
3     HE22W_1_LV.58  22.0  HE22W          CMs     1_4  target
4       HE7W_2_LA.3   7.0   HE7W          CMs     1_5  target
...             ...   ...    ...          ...     ...     ...
2756  HE23W_2_TV.40  23.0  HE23W  Valvar cell  1_2757  target
2757  HE22W_1_TV.22  22.0  HE22W  Valvar cell  1_2758  target
2758  HE22W_1_BV.46  22.0  HE22W  Valvar cell  1_2759  target
2759  HE22W_1_BV.15  22.0  HE22W  Valvar cell  1_2760  target
2760  HE23W_2_AV.14  23.0  HE23W  Valvar cell  1_2761  target

[2761 rows x 6 columns]

In [6]:
#将query数据信息，给query添加唯一标签
loader1 = DataLoader(expression_matrix_1=test_expression_matrix, cell_labels_1=test_data, top_genes=1000, mode="query",cell_name_column='cell')

# 处理数据
que_dat, que_label, que_cell_labels = loader1.process_data()

print("更新后的 que_cell_labels:")
print(que_cell_labels)

更新后的 que_cell_labels:
              cell  time cell.1         type cell_id   mode
0    HE24W_1_RA.60  24.0  HE24W          CMs     2_1  query
1    HE22W_1_RA.78  22.0  HE22W          CMs     2_2  query
2    HE10W_1_LA.25  10.0  HE10W          CMs     2_3  query
3     HE17W_2_LA.3  17.0  HE17W          CMs     2_4  query
4    HE24W_1_RV.73  24.0  HE24W          CMs     2_5  query
..             ...   ...    ...          ...     ...    ...
688  HE23W_2_BV.20  23.0  HE23W  Valvar cell   2_689  query
689   HE22W_1_BV.5  22.0  HE22W  Valvar cell   2_690  query
690  HE22W_1_PV.38  22.0  HE22W  Valvar cell   2_691  query
691   HE25W_1_AV.5  25.0  HE25W  Valvar cell   2_692  query
692   HE25W_1_EP.7  25.0  HE25W  Valvar cell   2_693  query

[693 rows x 6 columns]

In [7]:
#读取构建target信息向量，其中w2v路径为默认的模型训练好的，如果有使用自己训练的w2v向量可以自行添加，注意版本号
preprocess = Preprocess_gene(ref_dat, sen_len=1000)
embedding = preprocess.make_embedding()
gene_name = preprocess.sentence_word2idx()
gene_label = preprocess.labels_to_tensor(ref_label)

Get embedding ...
loading word to vec model ...
get words #84312
total words: 84315

In [8]:
#读取构建query信息向量，其中w2v路径为默认的模型训练好的，如果有使用自己训练的w2v向量可以自行添加，注意版本号
preprocess2 = Preprocess_gene(que_dat, sen_len=1000)
embedding2 = preprocess2.make_embedding()
gene_name2 = preprocess2.sentence_word2idx()
gene_label2 = preprocess2.labels_to_tensor(que_label)

Get embedding ...
loading word to vec model ...
get words #84312
total words: 84315

In [9]:
#mode有两种模式，当训练模型时使用'positive_negative'模式，构建三元损失函数样品对，当应用训练完的模型预测时mode选择'single'模式
ref_dataset = TwitterDataset(x=gene_name, z=gene_label, mode="single")
que_dataset = TwitterDataset(x=gene_name2, z=gene_label2, mode="single")

In [10]:
from get_result.Get_emb import AlignCell_Emb
from AlignCell import TransformerEncoder, PositionalEncoding, EncoderLayer, FeedForward

In [12]:
#读取已训过好的model
emb_dat=AlignCell_Emb("test_heart/FineTurn_no_mtDNA.model")

In [13]:
#获取target和query中最相近的向量，并进行标签迁移，要求是ref_dataset，que_dataset顺序
result = emb_dat.evaluate(ref_dataset, que_dataset)

Begian evalution......
Begain Embedding ref data......

Processing Dataset: 100%|██████████| 2761/2761 [00:28<00:00, 96.05it/s]

Begain Embedding query data......

Processing Dataset: 100%|██████████| 693/693 [00:07<00:00, 98.49it/s]

Finished!
Calculating cosine similarity......
Finished Calculate cosine similarity!
Finished all!

In [15]:
target_mapping = dict(zip(ref_cell_labels['cell_id'], ref_cell_labels[['cell', 'type']].values))

# 2. 在 df_query 中添加新的列 'target_cell' 和 'target_cell_types'，并将映射的值赋给它们
result['target_cell'] = result['test_label'].map(lambda x: target_mapping.get(x, [None, None])[0])
result['target_cell_types'] = result['test_label'].map(lambda x: target_mapping.get(x, [None, None])[1])

# 3. 查看结果


test_cell_labels_new = pd.merge(que_cell_labels, result[['test_label','rel_label', 'target_cell', 'target_cell_types']], 
                    left_on='cell_id', right_on='rel_label', how='left')

test_cell_labels_new['result'] = (test_cell_labels_new['type'] == test_cell_labels_new['target_cell_types'])
# 4. 查看结果
print(test_cell_labels_new)

              cell  time cell.1         type cell_id   mode test_label  \
0    HE24W_1_RA.60  24.0  HE24W          CMs     2_1  query      1_121
1    HE22W_1_RA.78  22.0  HE22W          CMs     2_2  query     1_1065
2    HE10W_1_LA.25  10.0  HE10W          CMs     2_3  query     1_1077
3     HE17W_2_LA.3  17.0  HE17W          CMs     2_4  query      1_428
4    HE24W_1_RV.73  24.0  HE24W          CMs     2_5  query     1_1071
..             ...   ...    ...          ...     ...    ...        ...
688  HE23W_2_BV.20  23.0  HE23W  Valvar cell   2_689  query     1_2658
689   HE22W_1_BV.5  22.0  HE22W  Valvar cell   2_690  query     1_2510
690  HE22W_1_PV.38  22.0  HE22W  Valvar cell   2_691  query     1_2596
691   HE25W_1_AV.5  25.0  HE25W  Valvar cell   2_692  query     1_1492
692   HE25W_1_EP.7  25.0  HE25W  Valvar cell   2_693  query     1_2533

    rel_label    target_cell target_cell_types  result
0         2_1  HE13W_2_RA.35               CMs    True
1         2_2   HE7W_2_LV.53               CMs    True
2         2_3  HE13W_2_RV.16               CMs    True
3         2_4   HE9W_1_RA.37               CMs    True
4         2_5   HE9W_1_LV.40               CMs    True
..        ...            ...               ...     ...
688     2_689  HE22W_1_PV.69       Valvar cell    True
689     2_690  HE22W_1_AV.29       Valvar cell    True
690     2_691  HE22W_1_TV.65       Valvar cell    True
691     2_692  HE10W_1_RA.25               ECs   False
692     2_693  HE22W_1_TV.48       Valvar cell    True

[693 rows x 11 columns]

In [16]:
test_cell_labels_new['result'].sum()

651